@model MovieLab24.Data.Movies

@{
    ViewData["Title"] = "Search";
}

<h1>Search for Movies</h1>

<h4>Enter a Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResultTitle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h4>Select a Genre</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResultGenre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="radio" id="Horror" name="genre" value="Horror" />
                <label for="Horror">Horror</label><br />
                <input type="radio" id="Comedy" name="genre" value="Comedy" />
                <label for="Comedy">Comedy</label><br />
                <input type="radio" id="Action" name="genre" value="Action" />
                <label for="Action">Action</label><br />
                <input type="radio" id="SciFi" name="genre" value="SciFi" />
                <label for="SciFi">SciFi</label><br />
                <input type="radio" id="Drama" name="genre" value="Drama" />
                <label for="Drama">Drama</label><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListMovies">Movie List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


