@model MovieLab24.Data.CheckedOutMovies

@{
    ViewData["Title"] = "CheckedOutMoviesView";
}

<div>
    <h4> UserName goes here - Checked out movie list:</h4>
</div>
<div>
    <a asp-controller="Movies" asp-action="ListMovies">Back to Movie List</a>
    <a asp-controller="Movies" asp-action="Index">Back to Menu</a>
</div>
