

@{
    ViewData["Title"] = "Result";
}

<div>
    <h4> MovieTitle goes here - has been checked out and is due on @ViewData["DueDate"] </h4>
</div>
<div>
    <a asp-controller="Movies" asp-action="ListMovies">Back to Movie List</a> 
</div>